tr.note-line:hover {

	background-color: grey;

}

th {

	text-align: center;

}

th, td {

	padding: 1rem;
	cursor: pointer;
	

}

td {

	user-select: none;

}

.search-form {

	display: inline-block;
	height: 35px;
	padding: 1px;
	border: solid 2px darkgrey;
	border-radius: 5px;

}

/*Search bar container*/

.search-bar {

	width: 50%;
	padding: 5px;

}

.search-container {

	height: 30px;

}

.search-item {

	height: 100%;
	outline: none;
	border: none;
	background-color: white;

}

select, option {

	cursor: pointer;

}