.topBar {

	background: linear-gradient(rgb(180, 130, 240), rgba(128,0,128,0.6));
/*	padding: 15px 0;*/

}

#navbar-logo {

	margin: 0.2em 0;
	cursor: pointer;

}

.options, .back-button {

	list-style-type: none;
	margin-top: 10px;

}

.back-button a {

	text-decoration: none;
	color: rgba(0,0,0,0.6);
	font-size: 20px;

}

.back-button a:hover {

	color: rgba(0,0,0,1);

}

.options li {

	display: inline;
	padding: 10px;

}

.options li a {

	text-decoration: none;
	color: black;
	font-size: 20px;

}

.options li a:hover {

	opacity: 0.5;

}