/*Background Page*/

body {

	background: linear-gradient(to right, #ccc, #eee);

}

/*Shadow box*/

.box-content {
	
	background: linear-gradient(to left, #ddd, #eee);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

/*Main centered content*/

.box-center {

	margin: 2rem auto;

}

/*General centered content*/

.block-center {

	margin: 1rem auto;

}

/*Forms like login, register, profile, new note/story, etc.*/

.box-form {

	width: 35%;
	padding: 10px;

}

/*Specific width for new note/story, etc.*/

.box-editor {

	width: 65%;

}

/*Story block*/

.box-grid {

	display: inline-block;
	width: 300px;
	padding: 5px;
	word-spacing: normal;
	overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

}

/*Link buttons*/

.link-button, .link-button:hover {

	color: white;
	text-decoration: none;

}

/*For when button is a column of a row content*/

.submit-button {

	padding: 0;

}

.search-form {

/*	border: solid 1px black;*/
	display: inline-block;
	height: 25px;
	padding: 0;
	word-spacing: none;

}

/*Search bar container*/

.search-bar {

	width: 30%;
	padding: 5px;

}

.search-bar-item {

	height: 100%;
	outline: none;
	border: none;
	background-color: white;

}

/*search form*/

.search-form {

	word-spacing: 0;

}

/*Bootstraps' row class has right and left margin, forcing the page to create a horizontal scroll. Code bellow overwrites it*/
/**/
div.row {

	margin: 0;
	

}