/*Background Page*/

body {

	background: linear-gradient(to right, #ccc, #eee);

}

/*Shadow box*/

.box-content {
	
	background: linear-gradient(to left, #ddd, #eee);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;

}

/*Main centered content*/

.box-center {

	margin: 2rem auto;

}

/*General centered content*/

.block-center {

	margin: 1rem auto;

}

/*Forms like login, register, profile, new note/story, etc.*/

.box-form {

	width: 35%;
	padding: 10px;

}

/*Specific width for new note/story, etc.*/

.box-editor {

	width: 65%;

}

/*Story block*/

.box-grid {

	display: inline-block;
	width: 300px;
	padding: 5px;
	word-spacing: normal;
	overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

}

/*Link buttons*/

.link-button, .link-button:hover {

	color: white;
	text-decoration: none;

}

/*Bootstraps' row class has right and left margin, forcing the page to create a horizontal scroll. Code bellow overwrites it*/
/**/
div.row {

	margin: 0;
	

}

.row > * {

	padding: 0;

}

.see-visibility {

	margin: 0.1em 0 0 0;

}

.search-button:hover {

	background-color: lightgreen;

}